:root {
    --margin: 10px;
    --border: 5px;
	--color1: #3A4257;
    --color2: #F0DDBC;
}
body {
	font: 150%;
	font-family: Helvetica, Arial, sans-serif;
	background-color: var(--color1);
}

h1 {
	font: bold 100% Arial, Helvetica, sans-serif;
}

.main {
	padding: 5px;
	justify-content: center;
	width: auto;
	margin: 20px auto;
}

.topbar {
	height: 60px;
	width: 100%;
    /* color: white; */
	font-weight: bold;
	position: fixed;
	left: 0px;
	top: 0px;
	padding-top: 25px;
	padding-left: 10px;
	padding-right: 10px;
    text-align: center;
    background-color: var(--color2);
	
}

.container-box {
	padding-top: 50px;
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
	float: middle;
}
.box {
    border: var(--border) var(--color2) outset;
    margin: var(--margin);
	color: black;
	background-color: var(--color2);
    height: 50px;
    padding-top: 30px;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
	min-width: fit-content;
}
.box:hover {
	border: var(--border) var(--color2) inset;
	/* -webkit-transition: 1s linear; */
	transition: 1s linear;
	cursor: pointer;
}
.box a{
	color: black;
	text-decoration: black underline 2px;
}
.a {
    width: calc((100%/4) - ((var(--margin) * 2) + (var(--border) * 2)));
}

.botbar {
	clear: both;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 40px;
	/* color: white; */
    background: var(--color2);
    text-align: center;
    font-size: 12px;
}


/* Media queries/* 
/*  480px or menor  */
@media screen and (max-width: 480px) {
	:root {
		--margin: 5px;
		--border: 2.5px;
	}
	.a {
		width: calc((100%/2) - ((var(--margin) * 2) + (var(--border) * 2)));
	}
}

.clear {
    clear: both;
}